/* css/modern_style.css */

/* --- VARIABLES CSS --- */
:root {
    --primary: #CD7316;         /* Naranja Clan Maya */
    --secondary: #d6c683;       /* Beige/Dorado */
    --dark: #1a1a1a;            /* Negro moderno */
    --light: #f8f9fa;           /* Fondo claro */
    --white: #ffffff;
    
    /* Tipografías */
    --font-heading: 'Anton', sans-serif;
    --font-body: 'Merriweather', serif;
    --font-ui: 'Montserrat', sans-serif; /* Para UI elements */
    
    /* Efectos */
    --radius-card: 20px;
    --radius-btn: 50px;
    --shadow: 0 10px 30px rgba(0,0,0,0.08);
    --shadow-hover: 0 15px 40px rgba(205, 115, 22, 0.2);
}

/* --- BASE --- */
* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: var(--font-body);
    color: var(--dark);
    background-color: var(--light);
    line-height: 1.7;
    border-top: 10px solid var(--primary); /* Toque de color superior */
}

a { text-decoration: none; color: inherit; transition: all 0.3s ease; }
ul { list-style: none; }

/* --- NAV --- */
.navbar {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 20px rgba(0,0,0,0.05);
}

.logo-area { display: flex; align-items: center; gap: 15px; }
.logo-area img { height: 50px; }

.brand-name {
    font-family: var(--font-heading);
    font-size: 1.8rem;
    color: var(--primary);
    text-transform: uppercase;
}

.nav-links { display: flex; gap: 50px; align-items: center; justify-content: space-evenly; }





.nav-link {
    font-family: var(--font-ui);
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-btn);
    position: relative;
}

.nav-link:hover { 
    background: #b5620e;
    box-shadow: 0 5px 15px rgba(205, 115, 22, 0.3);
    transform: translateY(-2px);
}

.btn-login {
    background: var(--primary);
    color: white;
    padding: 0.6rem 1.5rem;
    border-radius: var(--radius-btn);
    font-family: var(--font-ui);
    font-weight: 600;
}

.btn-login:hover {
    background: #b5620e;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(205, 115, 22, 0.3);
}